
<ul class="nav">
    <li class="{{ getActive('/') }}">
        <a href="{{ href() }}">
            <i class="ti-panel"></i>
            <p>{{ text('home') }}</p>
        </a>
    </li>
    <li class="{{ getActive('/task') }}">
        <a href="{{ href('task') }}">
            <i class="ti-shortcode"></i>
            <p>{{ text('tasks') }}</p>
        </a>
    </li>
    <li class="{{ getActive('/rating') }}">
        <a href="{{ href('rating') }}">
            <i class="ti-rocket"></i>
            <p>{{ text('rating') }}</p>
        </a>
    </li>
    <li class="{{ getActive('/user') }}">
        <a href="{{ href('user') }}">
            <i class="ti-user"></i>
            <p>{{ text('user') }}</p>
        </a>
    </li>

    <li><hr></li>

    <li class="{{ getActive('/admin/timer') }}">
        <a href="{{ href('admin/timer') }}">
            <i class="ti-timer"></i>
            <p>{{ text('adminMenuTimer') }}</p>
        </a>
    </li>
    <li class="{{ getActive('/admin/task') }}">
        <a href="{{ href('admin/task') }}">
            <i class="ti-blackboard"></i>
            <p>{{ text('adminMenuTasks') }}</p>
        </a>
    </li>
    <li class="{{ getActive('/admin/sysinfo') }}">
        <a href="{{ href('admin/sysinfo') }}">
            <i class="ti-settings"></i>
            <p>{{ text('adminMenuSysinfo') }}</p>
        </a>
    </li>

    <li class="logout-link">
        <a href="{{ href('logout') }}">
            <i class="ti-share"></i>
            <p>{{ text('logout') }}</p>
        </a>
    </li>
</ul>