<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{{ href() }}" />

    <title>{{  text('siteName') }}{{ title ? " - #{title}" : '' }}</title>

    {#<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />#}
    <link rel="stylesheet" href="css/style.css" />
    {% for item in css %}
    <link rel="stylesheet" href="css/{{ item }}" />
    {% endfor %}

    <script src="vendor/jquery-2.2.4/dist/jquery.min.js"></script>
    {#<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>#}
    {% for item in js %}
        <script src="js/{{ item }}"></script>
    {% endfor %}
</head>
<body>