{#
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
#}
<div class="{{ class ?: 'sidebar' }}" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{{ href() }}" class="simple-text"><img src="/assets/img/logo-f.jpg" alt="{{  text('siteName') }}" title="{{  text('siteName') }}" /></a>
        </div>

        <ul class="nav">
            <li class="{{ getActive('/') }}">
                <a href="{{ href() }}">
                    <i class="ti-panel"></i>
                    <p>{{ text('home') }}</p>
                </a>
            </li>
            {% if user is null %}
                <li class="{{ getActive('/registration') }}">
                    <a href="{{ href('registration') }}">
                        <i class="ti-user"></i>
                        <p>{{ text('registrate') }}</p>
                    </a>
                </li>
                <li class="{{ getActive('/forgot') }}">
                    <a href="{{ href('forgot') }}">
                        <i class="ti-id-badge"></i>
                        <p>{{ text('forgotMenu') }}</p>
                    </a>
                </li>
            {% else %}
                <li class="{{ getActive('/task') }}">
                    <a href="{{ href('task') }}">
                        <i class="ti-shortcode"></i>
                        <p>{{ text('tasks') }}</p>
                    </a>
                </li>
                <li class="{{ getActive('/rating') }}">
                    <a href="{{ href('rating') }}">
                        <i class="ti-rocket"></i>
                        <p>{{ text('rating') }}</p>
                    </a>
                </li>
                <li class="{{ getActive('/user') }}">
                    <a href="{{ href('user') }}">
                        <i class="ti-user"></i>
                        <p>{{ text('user') }}</p>
                    </a>
                </li>
                <li class="logout-link">
                    <a href="{{ href('logout') }}">
                        <i class="ti-share"></i>
                        <p>{{ text('logout') }}</p>
                    </a>
                </li>
            {% endif %}
            {% if user.is_admin %}
                <li><hr></li>

                <li class="{{ getActive('/admin/timer') }}">
                    <a href="{{ href('admin/timer') }}">
                        <i class="ti-timer"></i>
                        <p>{{ text('adminMenuTimer') }}</p>
                    </a>
                </li>
                <li class="{{ getActive('/admin/task') }}">
                    <a href="{{ href('admin/task') }}">
                        <i class="ti-blackboard"></i>
                        <p>{{ text('adminMenuTasks') }}</p>
                    </a>
                </li>
                <li class="{{ getActive('/admin/sysinfo') }}">
                    <a href="{{ href('admin/sysinfo') }}">
                        <i class="ti-settings"></i>
                        <p>{{ text('adminMenuSysinfo') }}</p>
                    </a>
                </li>

                <li class="logout-link">
                    <a href="{{ href('logout') }}">
                        <i class="ti-share"></i>
                        <p>{{ text('logout') }}</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>