{{ header|raw }}
<div class="card">
    <div class="header">
        <h4 class="title">{{ text('registrationSucceedTitle') }}</h4>
    </div>
    <div class="content">
        <p>Hello, {{ username }}, please confirm your email: {{ email }}</p>
    </div>
</div>
{{ footer|raw }}