{{ header|raw }}
<div class="card">
    <div class="header">
        <h4 class="title">{{ text('registrationSucceedTitle') }}</h4>
    </div>
    <div class="content">
        <p>Привіт, {{ username }}, вся інформація по аккауну надіслана на {{ email }}</p>
    </div>
</div>
{{ footer|raw }}