<h3>{{ name }}, вітаємо Вас на відкритій інтернет-олімпіаді РДГУ з програмування!</h3>
<h4>Ваші дані:</h4>
<table>
    <tr>
        <td nowrap>{{ text('username') }}</td>
        <td nowrap>{{ username }}</td>
    </tr>
    <tr>
        <td nowrap>{{ text('password') }}</td>
        <td nowrap>{{ password }}</td>
    </tr>
    <tr>
        <td nowrap>{{ text('surname') }}</td>
        <td nowrap>{{ surname }}</td>
    </tr>
    <tr>
        <td nowrap>{{ text('name') }}</td>
        <td nowrap>{{ name }}</td>
    </tr>
    <tr>
        <td nowrap>{{ text('phone') }}</td>
        <td nowrap>{{ phone }}</td>
    </tr>
    <tr>
        <td nowrap>{{ text('school') }}</td>
        <td nowrap>{{ school }} - {{ class }}</td>
    </tr>
</table>