<form method="post" action="{{ href() }}">
    <div class="form-group">
        <label for="login-username">{{ text('username') }}</label>
        <input type="text" id="login-username" class="form-control border-input" name="username" value="{{ username }}" required />
    </div>

    <div class="form-group">
        <label for="login-password">{{ text('password') }}</label>
        <input type="password" id="login-password" class="form-control border-input" name="password" required />
    </div>

    {% if errors %}
        <div class="form-group">
            {% for key in errors|keys %}
                <div class="alert alert-danger">{{ text(key) }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group text-center">
        <button type="submit" class="btn btn-info btn-fill btn-wd">{{ text('login') }}</button>
    </div>
</form>

<div class="footer">
    <hr>
    <div class="row">
        <div class="col-xs-6"><a href="{{ href('forgot') }}">{{ text('forgot') }}</a></div>
        <div class="col-xs-6 text-right"><a href="{{ href('registration') }}">{{ text('registrate') }}</a></div>
    </div>
</div>