
    {% if queue|length %}
    {% for item in queue %}
    <table border="1" width="95%" style="margin: 10px auto;text-align: center;" cellpadding="3">
        <tbody>
            <tr>
                <td colspan="2">
                    <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ item['user_filename'] }}</div>
                </td>
            <tr>
            {% if item['stan']|length > 1 %}
            {% for test in item['tests'] %}
            <tr>
                <td>{{ text('test') }} {{ test }}</td>
                <td>{{ text("taskResult_#{item['stan'][loop.index0]}") }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">
                    {{ text("taskResult_#{item['stan'][0]}") }}
                    {% if taskStatus('CompilingError') == item['stan'][0] %}
                        <a href="{{ href("compile-log/#{item['queue_id']}") }}">{{ text('seeCompileError') }}</a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endfor %}
    {% else %}
        <table border="1" width="95%" style="margin: 10px auto;text-align: center;" cellpadding="3">
        <thead>
        <tr>
            <td style="text-align: center;">{{ text('emptyQueue') }}</td>
        </tr>
        </thead>
        <table border="1" width="95%" style="margin: 10px auto;text-align: center;" cellpadding="3">
    {% endif %}