<div class="card">
    <div class="header">
        <h4 class="title">{{ text('queueTitle') }}</h4>
        <p class="category">{{ text('queueHelp') }}</p>
    </div>
    {% if queue|length %}
    <div class="content table-responsive table-full-width upload-content">
    {% for item in queue %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="2" class="text-center text-ellipsis">{{ item['user_filename'] }}</th>
            </tr>
            </thead>

            <tbody>
            {% if item['tests']|length > 0 %}
                {% for test in item['tests'] %}
                <tr>
                    <td width="1" class="text-ellipsis">{{ text('test') }} {{ test }}</td>
                    <td class="text-ellipsis">{{ text("taskResult_#{item['stan'][loop.index0]}") }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2" class="text-center">
                        {{ text("taskResult_#{item['stan'][0]}") }}
                        {% if taskStatus('CompilingError') == item['stan'][0] %}
                            <a href="{{ href("compile-log/#{item['queue_id']}") }}">{{ text('seeCompileError') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endfor %}
    </div>
    {% else %}
    <div class="content">
        <div class="alert alert-info text-center">
            <i class="ti-info"></i> {{ text('emptyQueue') }}
        </div>
    </div>
    {% endif %}
</div>