<div class="card">
    <div class="header">
        <h4 class="title">{{ text('uploadFormTitle') }}</h4>
    </div>
    <div class="content">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="task_id" value="{{ task_id }}" />

            <div class="form-group">
                <label for="upload-file">{{ text('uploadSolution') }}</label>
                <input type="file" id="upload-file" class="form-control border-input" name="userfile" required />
            </div>

            {% if error %}
                <div class="form-group">
                    <div class="alert alert-danger">{{ error }}</div>
                </div>
            {% endif %}

            <div class="form-group text-center">
                <button type="submit" class="btn btn-info btn-fill btn-wd" name="submit">{{ text('uploadButton') }}</button>
            </div>
        </form>
    </div>
</div>

<div align="center"></div>