<div class="card">
    <div class="header">
        <h4 class="title">{{ text('uploadFormTitle') }}</h4>
    </div>
    <div class="content">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="task_id" value="{{ task_id }}" />

            <div class="form-group">
                <label for="upload-file">{{ text('uploadSolution') }}</label>
                <input type="file" id="upload-file" class="form-control border-input" name="userfile" required />
            </div>

            {% if error %}
                <div class="form-group">
                    <div class="alert alert-danger">{{ error }}</div>
                </div>
            {% endif %}

            <div class="form-group text-center">
                <button type="submit" class="btn btn-info btn-fill btn-wd" name="submit">{{ text('uploadButton') }}</button>
            </div>
        </form>
        <div class="footer">
            <hr>
            <div class="stats">
                <i class="ti-info"></i> {{ text('examples') }} <a href="{{ href('assets/examples/example.cpp') }}" download>cpp</a> | <a href="{{ href('assets/examples/example.c') }}" download>c</a> | <a href="{{ href('assets/examples/example.pas') }}" download>pas</a> | <a href="{{ href('assets/examples/example.py') }}" download>py</a> | <a href="{{ href('assets/examples/example.java') }}" download>java</a>
            </div>
        </div>
    </div>
</div>
