<form method="post" enctype="multipart/form-data" style="margin: 5px;">
    <table width="100%">
        {% if error %}
            <tr>
                <td align="center">{{ error }}</td>
            </tr>
        {% endif %}
        <tr>
            <td align="center">
                <input style="width:100%; background-color:#fff;" type="file" name="userfile" />
                <input style="display: none;" type="hidden" name="task_id" value="{{ task_id }}" />
            </td>
        </tr>
        <tr>
            <td align="right"><input type="submit" name="submit" value="{{ text('uploadButton') }}" style="width:100%" /></td>
        </tr>
    </table>
</form>
<div align="center"><a href="{{ href('upload.docx') }}" target="_blank">{{ text('uploadHelpLink') }}</a></div>