<table height="100%" width="100%" >
    <tr>
        <td valign="middle" align="left" colspan="2"  height="70%">
            <font size="5"><strong>{{ user.surname }}&nbsp;{{ user.name }}</strong></font>
            <br />
            {{ user.school }}:&nbsp;{{ user.class }}
        </td>
    </tr>
    <tr>
        <td style="font-size:13pt; padding-bottom: 7px;" align="center" valign="bottom">
			<a href="{{ href('user') }}">{{ text('profile') }}</a> | <a href="{{ href('tasks') }}">{{ text('tasks') }}</a>
        </td>
        <td width="23%" valign="bottom" align="right" style="padding-bottom: 5px; padding-right: 7px;">
            <input type="button" onClick="location.href='{{ href('logout') }}'" style="width: 100%" value="{{ text('logout') }}">
        </td>
    </tr>
</table>