<div class="user-card" id="user-card">
    <div class="vertical-middle card">{{ max(user.score - user.mulct, 0) }}</div>
    <div class="vertical-middle text-left user-info">
        <div class="text-ellipsis"><strong>{{ user.surname }}&nbsp;{{ user.name }}</strong></div>
        <div class="text-ellipsis extended-info">{{ user.class }},&nbsp;{{ user.school }}</div>
    </div>
</div>