<div class="user-card">
    <div class="vertical-middle card">{{ max(user.score - user.mulct, 0) }}</div>
    <div class="vertical-middle text-left">
        <strong>{{ user.surname }}&nbsp;{{ user.name }}</strong><br />
        {{ user.class }} {{ text('class') }}
    </div>
</div>