<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{{ href() }}" />

    <title>{{  text('siteName') }} - {{ title ? " - #{title}" : '' }}</title>

    {% for item in css %}
        <link rel="stylesheet" href="/assets/css/{{ item }}" />
    {% endfor %}

    <script src="vendor/jquery-2.2.4/dist/jquery.min.js"></script>
    <script src="vendor/ckeditor/ckeditor.js"></script>
    <script src="vendor/sprintf/dist/sprintf.min.js"></script>
    {% for item in js %}
        <script src="/assets/js/{{ item }}"></script>
    {% endfor %}

    <style>
        * {
            box-sizing: border-box;
        }

        .TopBlock {
            background: #C0C0C0;
            border: 1px solid black;
            height: 125px;
        }

        .UserInfoBlock {
            float: right;
            background: #999999;
            border: 2px solid black;
            width: 400px;
            height: 100px;
            margin-right: 10px;

            border-radius:10px;
        }
        .UserInfoBlock td {
            text-align: center;
        }
        .round-up {
            border-radius:7px;
        }
    </style>
</head>
<body>
<div style="width: 1250px; margin: auto; height:auto;">
    <table width="100%" border="1">
        <tr>
            <td class="TopBlock" colspan="2" align="left">

                <div class="UserInfoBlock">{{ userInfo|raw }}</div>
            </td>
        </tr>
        <tr>
            <td width="260px" valign="top">{{ menu|raw }}</td>
            <td>
                <div style="margin: 15px;">