{{ header|raw }}
<div class="card">
    <div class="header">
        <h4 class="title">{{ text('forgottenText') }}</h4>
    </div>
    <div class="content">
        <form method="post" action="{{ href('forgot') }}">
            {% if errors.userNotExists %}
            <div class="form-group">
                <div class="alert alert-danger">{{ text('restore-error') }}</div>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="forgotten-username">{{ text('username') }}</label>
                <input type="text" id="forgotten-username" class="form-control border-input" name="username" value="{{ form.username }}" required />
                {% if errors.username %}
                <div class="alert alert-danger">{{ text('incorrect-username') }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="forgotten-email">{{ text('email') }}</label>
                <input type="email" id="forgotten-email" class="form-control border-input" name="email" value="{{ form.email }}" required />
                {% if errors.email %}
                <div class="alert alert-danger">{{ text('incorrect-email') }}</div>
                {% endif %}
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-info btn-fill btn-wd">{{ text('restore') }}</button>
            </div>
        </form>
    </div>
</div>
{{ footer|raw }}