{{ header|raw }}
<div class="row home-text">
    <div class="{% if isAuthenticated %}col-md-12{% else %}col-md-8{% endif %}">
        <div class="card">
            <div class="header">
                <h4 class="title">До уваги усіх фанатів інформатики та програмування!</h4>
                <p class="category">Запрошуємо Вас до участі у <em>Відкритій Інтернет-олімпіаді РДГУ з програмування</em></p>
            </div>
            <div class="content text-justify">
                {{ indexContent|raw }}
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="ti-info"></i> Бажаємо  всім успіхів
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not isAuthenticated %}
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">{{ text('authorizationForm') }}</h4>
            </div>
            <div class="content">{{ loginForm|raw }}</div>
    </div>
    {% endif %}
</div>
{{ footer|raw }}