{{ header|raw }}
<div class="row home-text">
    <div class="{% if isAuthenticated %}col-md-12{% else %}col-md-9{% endif %}">
        <div class="card">
            <div class="header">
                <h4 class="title">До уваги усіх фанатів інформатики та програмування!</h4>
                <p class="category">Запрошуємо Вас до участі у <em>Відкритій Інтернет-олімпіаді РДГУ з програмування</em></p>
            </div>
            <div class="content text-justify">
                <p>З метою популяризації одного із базових розділів інформатики –  алгоритмізації та програмування, а також виявлення обдарованих учнів для їх  подальшої підготовки до Всеукраїнських олімпіад, конкурсів МАН та вступу у ВНЗ  кафедра інформатики та прикладної математики Рівненського державного  гуманітарного університету проводить <strong><em>II</em></strong><strong></strong><strong><em> Відкриту Інтернет-олімпіаду РДГУ з програмування</em></strong>.</p>
                <h5>Формат <em>олімпіади</em>:</h5>
                <ul>
                    <li>сайт <strong><em>олімпіади</em></strong> <a href="{{ href() }}">{{ href() }}</a> є постійно діючою платформою для проведення різного роду олімпіад і  конкурсів з інформатики та програмування;</li>
                    <li><strong><em>олімпіада </em></strong>є традиційною щорічною і проводиться у три етапи протягом усього  навчального року;</li>
                    <li>до участі в <strong><em>олімпіаді</em></strong> запрошуються всі  бажаючі без обмеження віку і навчального закладу;</li>
                    <li>за результатами змагань кожного  етапу <strong><em>олімпіади</em></strong> шість кращих учасників будуть названі переможцями: один абсолютний  переможець, два других і три третіх призери. Призери мають набрати не менше 50  % від загальної суми балів відповідного етапу. Переможець і призери  визначаються окремо по кожному класу та серед студентів;</li>
                    <li style="color: #B33C12; font-weight: bold;">переможці <strong><em>олімпіади </em></strong>серед учнів 8, 9, 10, 11 класів (по одному від кожного класу) запрошуються до участі  у III  етапі Всеукраїнської учнівської олімпіади з інформатики понад рейтингову  кількість (лист Управління  освіти і науки Рівненської ОДА <a href="/№4035-02.PDF"><strong>№4035-02/01-09/16</strong></a> від 14.11.2016 року). У  рейтинговому заліку вони представлятимуть свої школи, райони; </li>
                    <li>якщо переможець <strong><em>олімпіади </em></strong>є учасником III-го етапу Всеукраїнської  учнівської олімпіади з інформатики за результатами II-го етапу, то до участі у III етапі запрошуватиметься наступний  за рейтингом призер <strong><em>олімпіади</em></strong>; </li>
                    <li>переможці <strong><em>олімпіади</em></strong>, які навчаються у випускних класах і планують вступати до вишів, отримають  право безкоштовно навчатися на підготовчих курсах до вступу у ВНЗ при РДГУ, де  можуть якісно підготуватися до майбутнього ЗНО.</li>
                </ul>
                <h5>Регламент <em>олімпіади</em>:</h5>
                <ol>
                    <li><strong>Реєстрація учасників</strong> на сайті інтернет-олімпіади <a href="{{ href() }}">{{ href() }}</a> ; завершення реєстрації 3 грудня 2016 року; при реєстрації генеруються логіни і паролі учасників для входу в систему;</li>
                    <li><strong>Конкурсне змагання</strong> кожного етапу проводиться у два тури:
                        <ul>
                            <li><strong>1-ий тур проводиться 16 грудня 2017 року дистанційно через Інтернет.</strong> Регламент цього туру подібний до регламенту ACM чемпіонату світу з програмування (так зване спортивне програмування). Учасникам пропонується 5 задач різної складності на час 240 хвилин. Переможець визначається за кількістю і швидкістю розв&rsquo;язування задач. (Якщо надісланий варіант проходить всі контрольні тести, то він отримує 100% балів. Якщо здача розв&rsquo;язку неуспішна (помилка компіляції, помилка виконання, некоректний ввід-вивід, перевищення ліміту по часу, перевищення ліміту по пам&rsquo;яті тощо), то програма не приймається і учасник може продовжити роботу над нею. При цьому він отримує штрафні бали. Спроби здачі неправильних або неповних розв&rsquo;язків ведуть до накопичення штрафних балів, які також впливають на остаточний результат. У залік йдуть лише пройдені контрольні тести. Якщо програма до кінця туру проходить лише частину тестів, то вона набирає деяку частину залікових балів в залежності від кількості пройдених тестів.) 30 кращих учасників 1-го туру мають право продовжити змагання у 2-ому турі;</li>
                            <li><strong>2-ий тур проводиться 23 грудня 2017 року очно на базі факультету математики та інформатики РДГУ.</strong> Регламент цього туру відповідає правилам Всеукраїнської учнівської олімпіади з інформатики. Учасники вирішують 4 задачі різної складності протягом усього часу проведення змагання (180 хвилин) без врахування швидкості здачі розв&rsquo;язків. До участі у 2-ому турі відбирається 30 кращих учасників за результатами 1-го туру. Учасникам 2-го туру слід подбати про можливість прибуття в м. Рівне до РДГУ до початку змагань;</li>
                        </ul>
                    </li>
                    <li><strong>Початок змагань обох турів о 10-00;</strong></li>
                    <li>Мовами програмування олімпіади є: <strong>С, С++, Free Pascal. </strong>В програмній системі для перевірки використовують наступні компілятори:
                        <ul>
                            <li><strong>fpc-2.6.4.i386-win32 (FREE PASCAL 2.6.4);</strong></li>
                            <li><strong>MinGW 4.7.2 (GNU C/C++ 4.7.2);</strong></li>
                            <li><strong>Python 3.6.3.</strong></li>
                        </ul>
                    </li>
                    <li>При цьому рекомендовано використовувати наступні сумісні з компіляторами середовища розробки програм:
                        <ul>
                            <li><strong>Free Pascal 2.2.0 </strong>(і новіші версії);</li>
                            <li><strong>CodeBlocks 13.12</strong><strong> </strong>(і новіші версії).</li>
                        </ul>
                    </li>
                    <li>Перевірка розв&rsquo;язків здійснюється автоматично;</li>
                    <li>Переможці кожного етапу визначаються за результатами обох турів.</li>
                </ol>
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="ti-info"></i> Бажаємо  всім успіхів
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not isAuthenticated %}
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">{{ text('authorizationForm') }}</h4>
            </div>
            <div class="content">{{ loginForm|raw }}</div>
    </div>
    {% endif %}
</div>
{{ footer|raw }}