{{ header|raw }}
<div class="card">
    <div class="header">
        <h4 class="title">{{ text('ratingTable') }}</h4>
    </div>
    <div class="content table-responsive table-full-width rating-content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ text('no') }}</th>
                <th>{{ text('username') }}</th>
                <th>{{ text('fullname') }}</th>
                {% for task in tasks %}
                <th>{{ task.name }}</th>
                {% endfor %}
                <th>{{ text('mulct') }}</th>
                {% if showLastResults %}<th>{{ text('oldScore') }}</th>{% endif %}
                <th>{{ text('score') }}</th>
                <th>{{ text('result') }}</th>
            </tr>
            </thead>

            <tbody>
            {% for key, row in table  %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ row.login }}</td>
                <td>{{ row.name|raw }}</td>
                {% for task in row.tasks %}
                    <td>{{ task.ok }} ({{ task.try }})</td>
                {% endfor %}
                <td>{{ row.shtraff }}</td>
                {% if showLastResults %}<td>{{ row.old_res }}</td>{% endif %}
                <td>{{ row.score }}</td>
                <td>{{ max(row.score + row.old_res - row.shtraff, 0) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{ footer|raw }}