{{ header|raw }}
<div class="row">
    <div class="col-md-8">
        <table width="100%" cellspacing="0" class="tabs-table">
            <tr>
                {% for task in tasks %}
                    <td class="tabs-link" style="background-color:{{ tabTaskColor(task.getStatus(), task.task_id == currentTask.task_id) }};" width="{{ 100 / tasks|length }}%" onClick="location.href='{{ href("task/#{task.task_id}") }}'">{{ task.name }}</td>
                    {% if false == loop.last %}<td width="1"></td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="card" id="task-main-text" colspan="{{ tasks|length * 2 }}">
                    <div class="content">{{ currentTask.task|decode|raw }}</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        {{ uploadForm|raw }}
        {{ queueInfo|raw }}
    </div>
</div>
{{ footer|raw }}