{{ header|raw }}
<style>
    .tab {
        border: 1px solid black;
        background: #E0E0E0;
        padding: 5px;
        width: 100%;

        text-align: justify;
    }

    .tabsLink {
        background-color:#606060;
        padding:5px;
        font: bold 12pt "Trebuchet MS", tahoma, verdana, arial narrow, arial;
        color:#fff;
        text-decoration:none;
        cursor: pointer;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #ZadPlace table td {
        vertical-align:top;
    }
</style>
<table width="100%" cellspacing="0">
    <tr>
        {% for task in tasks %}
        <td class="tabsLink" style="background-color:{{ tabTaskColor(task.getStatus(), task.task_id == currentTask.task_id) }}; color: #fff" align="center" width="{{ 100 / tasks|length }}%" onClick="location.href='{{ href("task/#{task.task_id}") }}'">{{ task.name }}</td>
        <td width="1"></td>
        {% endfor %}
    </tr>
    <tr>
        <td class="tab" id="ZadPlace" colspan="{{ tasks|length * 2 }}">{{ currentTask.task|decode|raw }}</td>
    </tr>
</table>
{{ footer|raw }}