{{ header|raw }}
<div class="main">
    <table width="100%" style="border: 1px solid black;">
        <tr>
            <td class="TopBlock" align="right">
                <div style="float:left; margin-left: 40px;"><?php  include ROOT_DIR."includes/timer/timer.php"  ?></div>
                <div style="display:inline-block" class="UserInfoBlock"><?php include ROOT_DIR."includes/userinfo.php"; ?></div>
            </td>
        </tr>

        <tr>
            <td>
                <table style="margin: 0px; padding: 0px; border: 1px solid black; width: 100%">
                    <tr>
                        <td width="60%">
                            <table width="100%" cellspacing="0" class="tabs-table">
                                <tr>
                                    {% for task in tasks %}
                                        <td class="tabsLink" style="background-color:{{ tabTaskColor(task.getStatus(), task.task_id == currentTask.task_id) }}; color: #fff" align="center" width="{{ 100 / tasks|length }}%" onClick="location.href='{{ href("task/#{task.task_id}") }}'">{{ task.name }}</td>
                                        {% if false == loop.last %}<td width="1"></td>{% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="tab" id="task-main-text" colspan="{{ tasks|length * 2 }}">{{ currentTask.task|decode|raw }}</td>
                                </tr>
                            </table>
                        </td>
                        <td width="40%" valign="top" >
                            <div class="UploadBlock">
                                {{ uploadForm|raw }}
                                {{ queueInfo|raw }}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{{ footer|raw }}