{{ header|raw }}
<input type="hidden" id="admin-sysinfo" />

<div class="card">
    <div class="header">
        <h4 class="title">{{ text('systemSettings') }}</h4>
    </div>
    <div class="content">
        <div>
            <form method="post" action="{{ href('admin/sysinfo/settings') }}">
                <table class="padding-table full-width">
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input type="hidden" name="settings[is_enabled]" value="0" />
                                <input type="checkbox" id="is-olimp-enabled-checkbox" name="settings[is_enabled]" value="1" {{ settings.is_enabled|default(0) ? "checked" : "" }} />
                                <label for="is-olimp-enabled-checkbox">{{ text('olimpEnabled') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input type="hidden" name="settings[useLastResults]" value="0" />
                                <input type="checkbox" id="is-use-last-results-checkbox" name="settings[useLastResults]" value="1" {{ settings.useLastResults|default(0) ? "checked" : "" }} />
                                <label for="is-use-last-results-checkbox">{{ text('useLastResults') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="ckeditor" rows="40" cols="45" name="settings[indexContent]">{{ settings.indexContent|raw }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="btn btn-info btn-fill btn-wd" value="{{ text('save') }}" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">{{ text('systemComponents') }}</h4>
    </div>
    <div class="content">
        <div>
            <form method="post" action="{{ href('admin/sysinfo/settings') }}">
                <table class="padding-table full-width">
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input type="hidden" name="settings[enableRegistration]" value="0" />
                                <input type="checkbox" id="enable-last-results-checkbox" name="settings[enableRegistration]" value="1" {{ settings.enableRegistration|default(0) ? "checked" : "" }} />
                                <label for="enable-registration-checkbox">{{ text('enableRegistration') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input type="hidden" name="settings[enable_comments]" value="0" />
                                <input type="checkbox" id="enable-comments-checkbox" name="settings[enable_comments]" value="1" {{ settings.enable_comments|default(0) ? "checked" : "" }} />
                                <label for="enable-comments-checkbox">{{ text('enableComments') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input type="hidden" name="settings[enable_rating]" value="0" />
                                <input type="checkbox" id="enable-rating-checkbox" name="settings[enable_rating]" value="1" {{ settings.enable_rating|default(0) ? "checked" : "" }} />
                                <label for="enable-rating-checkbox">{{ text('enable_rating') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <input type="hidden" name="settings[single_login]" value="0" />
                                <input type="checkbox" id="single-login-checkbox" name="settings[single_login]" value="1" {{ settings.single_login|default(0) ? "checked" : "" }} />
                                <label for="single-login-checkbox">{{ text('single_login') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="btn btn-info btn-fill btn-wd" value="{{ text('save') }}" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">{{ text('systemEvents') }}</h4>
    </div>
    <div class="content">
        <div>
            <form method="post" action="{{ href('admin/sysinfo/event') }}" class="mt-1">
                <input type="submit" class="btn btn-info btn-fill btn-wd confirm-click" name="event[delete_results]" value="{{ text('deleteResults') }}" />
                <input type="submit" class="btn btn-info btn-fill btn-wd confirm-click" name="event[reset_results]" value="{{ text('resetResults') }}" />
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">{{ text('systemInfo') }}</h4>
    </div>
    <div class="content">
        <div>
            <table class="padding-table full-width">
                <tr>
                    <td width="1%" nowrap>{{ text('olimpCheckerLogin') }}</td>
                    <td>{{ settings.olimpCheckerLogin }}</td>
                </tr>
                <tr>
                    <td width="1%" nowrap>{{ text('olimpCheckerPassword') }}</td>
                    <td>{{ settings.olimpCheckerPassword }}</td>
                </tr>
            </table>
            {% if checkers|length %}
            <table class="table table-striped padding-table full-width">
                <thead>
                    <tr>
                        <th>{{ text("checker-id") }}</th>
                        <th>{{ text("checker-name") }}</th>
                        <th>{{ text("checker-activity") }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for checker in checkers %}
                    <tr>
                        <td width="1%" nowrap>{{ loop.index }}</td>
                        <td>
                            {{ checker.name }}<br/>
                            {% if checker.is_active %}
                                <span class="text-success">{{ text("checker-available") }}</span>
                            {% else %}
                                <span class="text-muted">{{ text("checker-idle") }}</span>
                            {% endif %}
                        </td>
                        <td width="1%" nowrap>
                            <a class="btn btn-sm btn-success btn-icon {{ checker.is_active ? "active" : ""}}" href="{{ href("admin/sysinfo/checker/#{checker.checker_id}/toggle") }}"><i class="ti-plug"></i></a>
                            <a class="btn btn-sm btn-danger btn-icon" href="{{ href("admin/sysinfo/checker/#{checker.checker_id}/remove") }}"><i class="ti-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-info text-center">
                <i class="ti-info"></i> {{ text('checker-empty') }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{{ footer|raw }}