{{ header|raw }}
<input type="hidden" id="admin-sysinfo" />
<div class="card">
    <div class="header">
        <h4 class="title">{{ text('systemSettings') }}</h4>
    </div>
    <div class="content">
        <div>
            <form method="post" action="{{ href('admin/sysinfo/settings') }}">
                <table class="padding-table full-width">
                    <tr>
                        <td width="1%" nowrap>{{ text('olimpCheckerLogin') }}</td>
                        <td>{{ settings.olimpCheckerLogin }}</td>
                    </tr>
                    <tr>
                        <td width="1%" nowrap>{{ text('olimpCheckerPassword') }}</td>
                        <td>{{ settings.olimpCheckerPassword }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="checkbox">
                                <input type="checkbox" id="is-use-last-results-checkbox" name="settings[useLastResults]" value="1" {{ settings.useLastResults|default(0) ? "checked" : "" }} />
                                <label for="is-use-last-results-checkbox">{{ text('useLastResults') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="checkbox">
                                <input type="checkbox" id="is-use-last-results-checkbox" name="settings[enableRegistration]" value="1" {{ settings.enableRegistration|default(0) ? "checked" : "" }} />
                                <label for="is-enable-registration-checkbox">{{ text('enableRegistration') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="checkbox">
                                <input type="checkbox" id="is-use-last-results-checkbox" name="settings[enable_comments]" value="1" {{ settings.enable_comments|default(0) ? "checked" : "" }} />
                                <label for="is-enable-registration-checkbox">{{ text('enableComments') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="checkbox">
                                <input type="checkbox" id="is-use-last-results-checkbox" name="settings[enable_rating]" value="1" {{ settings.enable_rating|default(0) ? "checked" : "" }} />
                                <label for="is-enable-registration-checkbox">{{ text('enable_rating') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="checkbox">
                                <input type="checkbox" id="is-olimp-enabled-checkbox" name="settings[is_enabled]" value="1" {{ settings.is_enabled|default(0) ? "checked" : "" }} />
                                <label for="is-olimp-enabled-checkbox">{{ text('olimpEnabled') }}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea class="ckeditor" rows="40" cols="45" name="settings[indexContent]">{{ settings.indexContent|raw }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" class="btn btn-info btn-fill btn-wd" value="{{ text('save') }}" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="card">
    <div class="header">
        <h4 class="title">{{ text('systemEvents') }}</h4>
    </div>
    <div class="content">
        <div>
            <form method="post" action="{{ href('admin/sysinfo/event') }}" class="mt-1">
                <input type="submit" class="btn btn-info btn-fill btn-wd confirm-click" name="event[delete_results]" value="{{ text('deleteResults') }}" />
                <input type="submit" class="btn btn-info btn-fill btn-wd confirm-click" name="event[reset_results]" value="{{ text('resetResults') }}" />
            </form>
        </div>
    </div>
</div>
{{ footer|raw }}